@model List<Product>
@{
    ViewData["Title"] = "Product";
    int i = 0;
}

<h1>Products</h1>

@if(TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<a asp-controller="Products" asp-action="Add">Ürün Ekle</a>

<table class="mt-3" style="width: 100%; text-align: left;">
    <thead style="border-bottom: 2px solid black;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color</th>
            <th>Is Publish?</th>
            <th>Expire Time</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Stock</td>
                <td>@product.Color</td>
                <td>@product.isPublish</td>
                <td>@product.Expire</td>
                <td>@if (product.Description.Length > 20)
                    {
                        @product.Description.Substring(0, 20) <text>...</text>
                    }
                    else
                    {
                        @product.Description

                    }
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Remove" asp-route-id="@product.Id">Delete</a>
                    <a asp-controller="Products" asp-action="Update" asp-route-id="@product.Id">Update</a>
                </td>
            </tr>
            @if (i < Model.Count - 1) // Son satır hariç separator ekle
            {
                <tr style="height: 1px; background-color: lightgray;">
                    <td colspan="8"></td>
                </tr>
            }
        }
    </tbody>
</table>

